@mixin core_menu {
	.menu {
		ol,
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: left;

			> li {
				margin: 0;
				padding: 0;
				text-align: left;
				line-height: normal;
				position: relative;

				> a {
					position: relative;
					display: block;
					font-size: inherit;

					&,
					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		> ol,
		> ul {
			display: block;
			font-size: 0;

			> li {
				display: inline-block;
				vertical-align: middle;

				> a {
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}

		li {
			display: block;
			margin: 0;
			padding: 0;
			@include responsive-font-size($menu-item-font-size);

			@if $menu-subitem-font-size != false {
				li {
					@include responsive-font-size($menu-subitem-font-size);
				}
			}
		}

		a {
			color: inherit;
		}
	}

	@if $menu-right == true {
		.menu--right {
			> ol,
			> ul {
				text-align: right;
			}
		}
	}

	@if $menu-center == true {
		.menu--center {
			> ol,
			> ul {
				&,
				> li > a {
					text-align: center;
				}
			}
		}
	}

	@if $menu-vertical == true {
		.menu--vertical {
			> ul > li,
			> ol > li,
			li {
				display: block;
			}
		}
	}

	@if $menu-justify == true {
		.menu--justify {
			> ul,
			> ol {
				text-align: justify;

				&:after {
					content: " ";
					width: 100%;
					display: inline-block;
					height: 1px;
					margin-bottom: -1px;
				}

				> li {
					display: inline-block;
				}
			}
		}
	}

	@if $menu-tabs == true {
		.menu--tabs {
			> ul,
			> ol {
				text-align: left;
				width: 100%;
				display: table;

				@if $menu-tabs-table-layout != false {
					table-layout: $menu-tabs-table-layout;
				}

				> li {
					display: table-cell;
					width: auto;
					height: 0;
					vertical-align: middle;
					text-align: center;
				}
			}
		}
	}

	@if $menu-dropdown == true {
		.menu-dropdown {
			display: none;
			position: absolute;
			left: 0;
			text-align: left;

			.menu--center & {
				left: 50%;
				@include transform(
					translateX(-50%)
				);
			}

			.menu--right & {
				right: 0;
				left: auto;
			}

			@if $menu-dropdown-z-index != false {
				z-index: $menu-dropdown-z-index;
			}

			// @if $menu-subitem-vertical-gutter != false {
			// 	padding-top: $menu-subitem-vertical-gutter;
			// }
		}

		.menu-dropdown-wrapper {
			position: relative;
		}

		@if $menu-item-active-class != false {
			#{$menu-item-active-class} {
				> .menu-dropdown {
					display: block;
				}
			}
		}

		@if $menu-dropdown-hover != false {
			.no-touchevents li:hover {
				> .menu-dropdown {
					display: block;
				}
			}
		}
	}

	@include menu-gutter(
		$selector: null,
		$type: false,
		$horizontal-gutter: $menu-item-horizontal-gutter,
		$vertical-gutter: $menu-item-vertical-gutter,
		$sub-horizontal-gutter: $menu-subitem-horizontal-gutter,
		$sub-vertical-gutter: $menu-subitem-vertical-gutter
	);
}