@mixin core_menu {
	.menu {
		text-align: left;

		ol,
		ul,
		li {
			display: block;
			margin: 0;
			padding: 0;
		}

		ol,
		ul {
			list-style: none;
		}

		li {
			margin: 0;
			padding: 0;
			text-align: left;
			line-height: normal;
			@include responsive-font-size($menu-item-font-size);

			> a {
				display: block;
				position: relative;
				font-size: inherit;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				&,
				&:active,
				&:focus,
				&:hover {
					text-decoration: none;
				}
			}
		}

		a {
			text-align: inherit;
			color: inherit;
		}

		> ol,
		> ul {
			font-size: 0;

			> li {
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	@if $menu-right == true {
		.menu--right {
			text-align: right;
		}
	}

	@if $menu-center == true {
		.menu--center {
			&,
			> ul > li > a,
			> ol > li > a {
				text-align: center;
			}
		}
	}

	@if $menu-vertical == true {
		.menu--vertical {
			> ul,
			> ol {
				> li {
					display: block;
				}
			}
		}
	}

	@if $menu-justify == true {
		.menu--justify {
			> ul,
			> ol {
				text-align: justify;

				&:after {
					content: " ";
					width: 100%;
					display: inline-block;
					height: 1px;
					margin-bottom: -1px;
				}
			}
		}
	}

	@if $menu-tabs == true {
		.menu--distribute {
			> ul,
			> ol {
				width: 100%;
				display: table;
				table-layout: fixed;
				height: 100%;

				> li {
					display: table-cell;
					width: auto;
					height: 100%;

					> a {
						text-align: center;
					}
				}
			}
		}
	}

	@if $menu-dropdown == true {
		.menu-dropdown {
			display: none;
			position: absolute;
			left: 0;
			text-align: left;
			min-width: 100%;

			.menu--center & {
				left: 50%;
				@include transform(
					translateX(-50%)
				);
			}

			.menu--right & {
				right: 0;
				left: auto;
			}

			li:hover &,
			&.__menu-dropdown--active {
				display: block;
			}
		}

		.menu-dropdown-wrapper {
			position: relative;
		}
	}

	@include menu-gutter(
		$selector: null,
		$horizontal-gutter: $menu-item-horizontal-gutter,
		$vertical-gutter: $menu-item-vertical-gutter,
		$dropdown-offset: $menu-dropdown-offset
	);
}