$menu-item-horizontal-gutter:		10px !default;
$menu-item-vertical-gutter:			10px !default;
$menu-dropdown-offset:				15px !default;

$menu-item-font-size:				'default-font-size' !default;

$menu-right:						true !default;
$menu-center:						true !default;
$menu-vertical:						true !default;
$menu-justify:						true !default;
$menu-tabs:							true !default;
$menu-dropdown:						true !default;