@mixin core_menu {
	.menu {
		ol,
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: left;

			> li {
				margin: 0;
				padding: 0;
				text-align: left;
				line-height: normal;
				position: relative;

				> a {
					position: relative;
					display: block;
					font-size: inherit;

					&,
					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		> ol,
		> ul {
			display: block;
			font-size: 0;
			margin: 0 (0 - $menu-horizontal-gutter);


			> li {
				display: inline-block;
				margin: 0;
				vertical-align: middle;
				@if $menu-horizontal-gutter > 0 {
					margin-left: $menu-horizontal-gutter;
					margin-right: $menu-horizontal-gutter;
				}

				> a {
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;

					@if $menu-horizontal-gutter > 0 {
						margin-left: -$menu-horizontal-gutter;
						margin-right: -$menu-horizontal-gutter;
						padding-left: $menu-horizontal-gutter;
						padding-right: $menu-horizontal-gutter;
					}
					@if $menu-vertical-gutter > 0 {
						padding-top: $menu-vertical-gutter;
						padding-bottom: $menu-vertical-gutter;
					}
				}
			}
		}
	}

	.menu--right {
		> ol,
		> ul {
			text-align: right;
		}
	}

	.menu--center {
		> ol,
		> ul {
			text-align: center;
		}
	}

	.menu--justify {
		> ul,
		> ol {
			text-align: justify;

			&:after {
				content: " ";
				width: 100%;
				display: inline-block;
				height: 1px;
				margin-bottom: -1px;
			}

			> li {
				@if $menu-horizontal-gutter > 0 {
					margin: 0;
					padding-left: $menu-horizontal-gutter;
					padding-right: $menu-horizontal-gutter;
				}
			}
		}
	}

	@if $menu-dropdown == true {
		.menu-dropdown {
			display: none;
			position: absolute;
			left: 0;
			@if $menu-dropdown-z-index != false {
				z-index: $menu-dropdown-z-index;
			}

			@if $menu-vertical-gutter > 0 {
				padding-top: $menu-vertical-gutter;
			}
		}

		.menu-dropdown-wrapper {
			li {
				+ li {
					margin-top: $menu-vertical-gutter;
				}
			}
		}

		.no-touchevents li:hover,
		.__menu-item--active {
			>  .menu-dropdown {
				display: block;
			}
		}
	}
}