@mixin menu-gutter (
	$selector: null,
	$horizontal-gutter: false,
	$vertical-gutter: false,
	$dropdown-offset: false
) {
	.menu {
		&#{$selector} {
			> ul,
			> ol {
				> li {
					> a {
						@if $horizontal-gutter != false {
							padding-left: $horizontal-gutter;
							padding-right: $horizontal-gutter;
						}

						@if $vertical-gutter != false {
							padding-top: $vertical-gutter;
							padding-bottom: $vertical-gutter;
						}
					}
				}
			}

			@if $dropdown-offset != false {
				.menu-dropdown {
					padding-top: $dropdown-offset;
				}
			}
		}
	}
}